<div class="col-sm-6 col-md-4">
  <div class="thumbnail" {{action "clickThumbnail" image}}>
    <img src="img/scaled/sc_{{image}}" alt="{{alt}}">
    <div class="caption text-center">
      <h3>{{{caption}}}</h3>
      <p>{{{description}}}</p>
    </div>
  </div>
</div>