<div class="container">
	<h1>L'appartement</h1>
	<h2 id="descriptif">Descriptif général</h2>	
	<p>L'appartement est très calme car bien insonorisé et car les chambres donnent sur la cour intérieure, et non sur la rue. Les grandes baies vitrées de la pièce de vie et la vue dégagée rendent cette pièce très lumineuse. L'agencement est simple mais permet de ne pas perdre trop d'espace en couloirs et de bien séparer les pièces de nuit des pièces de vie.</p>
	<p>Plan de l'appartement : (le nord est à gauche, les éléments mobiliers affichés ne correspondent pas à l'appartement)</p>
	<p>Cliquer sur les pièces pour accéder au détail</p>
	<div>
		{{img-plan}}
	</div>
	<h3>Diagnostic de Performance Energétique</h3>
	<div>
		<div class="row">
			<div class="col-sm-6 thumbnail">
				<img src="img/EtiquetteENR.jpeg" alt="ENR">
				<div class="caption text-center">
			      <h3>Consommation énergétique</h3>
			      <p>Pour le chauffage, la production d'eau chaude sanitaire et le refroidissement, déduction faite de la production d'électricité à demeure</p>
			    </div>
			</div>
			<div class="col-sm-6 thumbnail">
				<img src="img/EtiquetteGES.jpeg" alt="GES">
				<div class="caption text-center">
				  <h3>Emission des gaz à effet de serre</h3>
				  <p>Pour le chauffage, la production d'eau chaude sanitaire et le refroidissement</p>
				</div>
			</div>
		</div>
	</div>
	<h2 id="hall">Hall</h2>	
	<p>La porte d'entrée de l'appartement est blindée avec serrure 3 points. Le hall comprend le tableau électrique et un placard avec portes coulissante. A noter que les deux chambres et le séjour/cuisine sont équipées de prises RJ45 arrivant au niveau du tableau électrique (de même que l'arrivée fibre optique). Il suffit d'installer la box dans le placard et de brancher les câbles Ethernet sur la box pour profiter de l'Internet filaire dans toutes les pièces.</p>
	<div class="row">
		{{modal-thumbnail image="P1030760.JPG" caption="Hall (1/3)" description="<p>Vue depuis la porte d'entrée</p><p>Le couloir dessert les 2 chambres, les WC et la salle de bain en perdant un minimum d'espace.</p>" alt="Hall"}}
		{{modal-thumbnail image="P1030761.JPG" caption="Hall (2/3)" description="<p>Vue depuis la porte de la salle de bain</p><p>Porte blindée avec serrure 3 points et visiophone. Tableau électrique à gauche.</p>" alt="Hall"}}
		{{modal-thumbnail image="P1030762.JPG" caption="Hall (3/3)" description="<p>Vue depuis le séjour</p><p>Grand placard mural avec penderie, rayonnage et emplacement pour la Box internet.</p>" alt="Hall"}}
	</div>
	<h2 id="sejour">Séjour/Cuisine</h2>	
	<p>
		Cette grande pièce de 30,35 m<sup>2</sup> très lumineuse orientée plein sud comporte une cuisine équipée Ikea avec éléctroménager de marque Sauter (lave vaisselle, four, plaques induction), Electrolux (hotte aspirante) et Ikea (réfrigérateur/congélateur) et une crédence en verre blanc.
	</p>
	<div class="row">
		{{modal-thumbnail image="P1030738.JPG" caption="Cuisine/Séjour (1/7)" description="<p>Vue depuis le hall.</p>" alt="Cuisine/Séjour"}}
		{{modal-thumbnail image="P1030739.JPG" caption="Cuisine/Séjour (2/7)" description="<p>Grande pièce de 30m<sup>2</sup> très lumineuse.</p>" alt="Cuisine/Séjour"}}
		{{modal-thumbnail image="P1030740.JPG" caption="Cuisine/Séjour (3/7)" description="<p>Four électrique à pyrolise Sauter et plaques de cuisson induction Sauter.</p>" alt="Cuisine/Séjour"}}
	</div>
	<div class="row">
		{{modal-thumbnail image="P1030744.JPG" caption="Cuisine/Séjour (4/7)" description="<p>Eclairage au dessus de l'évier et des plans de travail à côté avec des spots LED ultra plats intégrés dans les meubles hauts.</p>" alt="Cuisine/Séjour"}}
		{{modal-thumbnail image="P1030745.JPG" caption="Cuisine/Séjour (5/7)" description="<p>Crédence en verre blanc facile à nettoyer. Evier simple (mais très grand) bac et robinet avec douchette.</p>" alt="Cuisine/Séjour"}}
		{{modal-thumbnail image="P1030746.JPG" caption="Cuisine/Séjour (6/7)" description="<p>Aménagé en coin lecture/musique, on peut très bien aménager cet espace en coin TV.</p>" alt="Cuisine/Séjour"}}
	</div>
	<div class="row">
		
		{{modal-thumbnail image="P1030747.JPG" caption="Cuisine/Séjour (7/7)" description="<p>Le bar permet de prendre des repas à 2 mais est aussi très pratique pour cuisiner avec son vaste plan de travail.</p>" alt="Cuisine/Séjour"}}
	</div>
	<h2 id="chambre1">Chambre 1</h2>	
	<p>
		Cette chambre de 9,95 m<sup>2</sup>, tout comme la première chambre est exposée nord et donne sur la cour intérieure de la résidence. N'ayant pas d'enfant, nous l'utilisions comme salon.
	</p>
	<div class="row">
		{{modal-thumbnail image="P1030754.JPG" caption="Chambre 1 (1/3)" description="" alt="Chambre 1"}}
		{{modal-thumbnail image="P1030755.JPG" caption="Chambre 1 (2/3)" description="" alt="Chambre 1"}}
		{{modal-thumbnail image="P1030756.JPG" caption="Chambre 1 (3/3)" description="" alt="Chambre 1"}}
	</div>	

	<h2 id="chambre2">Chambre 2</h2>
	<p>
		Cette chambre de 12,05 m<sup>2</sup> exposée nord donne sur la cour intérieure de la résidence. Elle comporte un grand placard mural aménagé. 
	</p>
	<div class="row">
		
		{{modal-thumbnail image="P1030751.JPG" caption="Chambre 2 (1/3)" description="Chambre exposée au nord qui reste relativement fraiche l'été" alt="Chambre 2"}}
		{{modal-thumbnail image="P1030752.JPG" caption="Chambre 2 (2/3)" description="Placards muraux aménagés avec penderie et rayonnages" alt="Chambre 2"}}
		{{modal-thumbnail image="P1030753.JPG" caption="Chambre 2 (3/3)" description="Cour intérieure calme comprenant quelques espaces verts" alt="Chambre 2"}}
	</div>
	<h2 id="sdb">Salle de bain</h2>
	<p>
		La salle de bain de 5,45 m<sup>2</sup> comporte une baignoire et un sèche-serviette mixte.
	</p>
	<div class="row">
		{{modal-thumbnail image="P1030758.JPG" caption="Salle de bain (1/2)" description="VMC hygro-réglable permettant à cette pièce de ne pas rester humide" alt="Salle de bain"}}
		{{modal-thumbnail image="P1030759.JPG" caption="Salle de bain (2/2)" description="Sèche serviette mixte (électrique et circuit de chauffage)" alt="Salle de bain"}}
	</div>
	<h2 id="wc">WC</h2>
	<div class="row">

		{{modal-thumbnail image="P1030750.JPG" caption="WC" description="WC accessibles aux personnes à mobilité réduite (sans le placard)" alt="WC"}}
	</div>
	<h2 id="balcon">Balcon</h2>	
	<p>
		Le balon de 7,30 m<sup>2</sup> est orienté plein sud. La vue est relativement dégagée compte-tenu de l'élévation de l'appartement (3e étage) et de l'élévation des bâtiments en face (deux étages).
	</p>
	<div class="row">
	  {{modal-thumbnail image="balcon3.jpg" caption="Balcon" description="Ce balcon est suffisamment grand pour y mettre deux chaises longues ou une table pour manger à 4." alt="Balcon"}}
	  {{modal-thumbnail image="balcon1.jpg" caption="Balcon vue Sud-Est" description="Vue sud est. La rue Bollier est assez passante." alt="Vue sud est"}}
	  {{modal-thumbnail image="balcon2.jpg" caption="Balcon 3/3" description="Vue sud dégagée sur le parc de l'ENS" alt="Balcon vue 2"}}
	</div>
	<h2 id="garage">Garage box</h2>	
	<p>
		Situé au deuxième sous-sol, ce garage simple de X m<sup>2</sup> permet de stocker des choses dans le fond du garage tout en garant une voiture (la nôtre fait 4,46 m de long).
	</p>
</div>
