<div class="container">
	<h1>Les charges</h1>
	<div class="row">
		{{bs-panel title="Electricité" strong="35€/mois" body="Moyenne effectuée sur les 3 dernières années au Tarif Bleu EDF"}}
		{{bs-panel title="Eau froide" strong="7€/mois" body="Dépenses de 2015 : 29 m<sup>3</sup>. Les compteurs sont individuels"}}
		{{bs-panel title="Eau chaude" strong="23€/mois" body="Dépenses de 2015 : 25 m<sup>3</sup>. Les compteurs sont individuels"}}
		{{bs-panel title="Chauffage" strong="25€/mois" body="Dépenses de 2015 : 170 kWh. Les compteurs sont individuels"}}
		{{bs-panel title="Charges du garage" strong="5€/mois" body="Moyenne effectuée sur l'année 2015"}}
		{{bs-panel title="Charges de copropriété" strong="43€/mois" body="Moyenne effectuée sur l'année 2015"}}
	</div>

	<h1>Impôts</h1>
	<div class="row">
		{{bs-panel title="Taxe foncière" strong="?" body="En 2015, que la taxe des ordures ménagères (159 €)"}}
		{{bs-panel title="Taxe d'habitation" strong="1 155 €" body="Taxe d'habitation de 2015"}}
	</div>
</div>