<div class="jumbotron">
	<div class="row">
		<div class="col-lg-7">
			<h1>Appartement BBC T3 à vendre (Lyon 7)</h1>
			<p class="text-justify">
				Situé au 3e étage d'une résidence calme construite en 2013 dans le quartier résidenciel du Bon Lait dans le 7e arrondissement de Lyon, cet appartement de type 3 de 65 m<sup>2</sup> comporte
				deux chambres (12 m<sup>2</sup> et 10 m<sup>2</sup>), une salle de bain avec baignoire (5,5 m<sup>2</sup>), un Wc, une grande pièce de vie
				très lumineuse orientée plein sud avec cuisine équipée (30 m<sup>2</sup>) et un balcon (7 m<sup>2</sup>).
				
			</p>
			<p>
				Il est vendu avec un garage box au deuxième sous-sol.
			</p>
			<div class="row text-center">
				{{link-to "Plus d'informations" "appartement" classNames="little-margin-bottom btn btn-primary btn-lg"}}	
			</div>
			<div class="row text-center">
				<div class="alert-container col-sm-4">
					<div class="alert alert-info">
						<p>5 min à pied du métro B</p>
					</div>
				</div>
				<div class="alert-container col-sm-4">
					<div class="alert alert-info">
						<p>8 min à pied du tram T1</p>
					</div>
				</div>
				<div class="alert-container col-sm-4">
					<div class="alert alert-info">
						<p>BBC (CE : A, GES : C)</p>
					</div>
				</div>
			</div>
			<p>
			
			</p>
		</div>
		<div class="col-lg-5">
			{{#carousel-container transition-interval=400}}
			  {{#carousel-body}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_balcon1.jpg" class="img-responsive" alt="">
			    {{/carousel-item}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_balcon2.jpg" class="img-responsive" alt="">
			    {{/carousel-item}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_P1030751.JPG" class="img-responsive" alt="">
			    {{/carousel-item}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_P1030754.JPG" class="img-responsive" alt="">
			    {{/carousel-item}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_P1030741.JPG" class="img-responsive" alt="">
			    {{/carousel-item}}
			    {{#carousel-item}}
			      <img src="img/scaled_medium/sc_P1030758.JPG" class="img-responsive" alt="">
			    {{/carousel-item}}
			  {{/carousel-body}}

			  {{carousel-arrow direction="left" class="line-arrow left"}}
			  {{carousel-arrow direction="right" class="line-arrow right"}}
			{{/carousel-container}}
			
			<h1 class="text-danger text-center">295 000 €</h1>
			<h2 class="text-info text-center"><a href="tel:0679622848">{{fa-icon "phone"}}&nbsp;06 79 62 28 48</a></h2>
			<h3 class="text-info text-center"><a href="mailto:pjvilloud-appart@yahoo.fr">{{fa-icon "envelope"}}&nbsp;pjvilloud-appart@yahoo.fr</a></h3>
		</div>
	</div>
  
</div>