<div class="container">
	<h1>Description</h1>
	<p>La résidence Voie Lactée a été construite en 2013 dans la ZAC du Bon Lait par le promoteur Diagonale. Elle comprend 3 bâtiments totalisant 65 logements sur 5 à 7 étages (et deux étages de garages box en sous-sol). Le syndic de copropriété actuel est Foncia.</p>
	<div class="row">
		{{modal-thumbnail image="voielactee1.JPG" caption="Voie lactée 1" description="Vue de la résidence de l'extérieur 1/2" alt="Voie lactée 1"}}
		{{modal-thumbnail image="voielactee2.JPG" caption="Voie lactée 2" description="Vue de la résidence de l'extérieur 2/2" alt="Voie lactée 2"}}
	</div>
	<h1>Equipements</h1>
	<ul class="list-group">
		<li class="list-group-item">{{fa-icon "bicycle" size="lg"}}&nbsp;Local vélo sécurisé</li>
		<li class="list-group-item">{{fa-icon "tree" size="lg"}}&nbsp;Cour intérieure</li>
		<li class="list-group-item">{{fa-icon "wifi" size="lg"}}&nbsp;Fibre optique</li>
		<li class="list-group-item">{{fa-icon "tint" size="lg"}}&nbsp;Eau chaude sanitaire solaire</li>
		<li class="list-group-item">{{fa-icon "fire" size="lg"}}&nbsp;Chauffage collectif au gaz</li>
		<li class="list-group-item">{{fa-icon "dashboard" size="lg"}}&nbsp;Compteurs individuels (chauffage, eau chaude, eau froide)</li>
		<li class="list-group-item">{{fa-icon "unsorted" size="lg"}}&nbsp;Ascenseurs avec accès aux sous-sols par code</li>
		<li class="list-group-item">{{fa-icon "lock" size="lg"}}&nbsp;Vidéophone, digicode ou badge Vigik pour l'accès aux bâtiments</li>
	</ul>
	<h1>Prestations</h1>
	<ul class="list-group">
		<li class="list-group-item">{{fa-icon "envira" size="lg"}}Nettoyage des parties communes tous les jours</li>
		<li class="list-group-item">{{fa-icon "bullhorn" size="lg"}}&nbsp;Réseau social de résidence</li>
	</ul>
</div>